<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('partials/head.ejs') %>
  </head>
 
<body>
  <%- include('partials/header') %>
 
 <main>  
  <div class="errores">
    <% if (typeof errors != "undefined") { %>
        <ul>
            <% for (let i =0; i < errors.length; i++) { %>
              <li class="erroritem">
                  <%=errors[i].msg%>
              </li>
            <% } %>
          </ul>
    <% } %> 

  </div>  
  <form class="formulario" id="formulario"  action="/products/create" method="POST"  enctype="multipart/form-data" >
     <h2>AGREGAR PRODUCTO</h2>
    <input type="text"name ="name" placeholder="name"> 
    <% if (typeof errors != 'undefined') { %>
      <div class="errors"><%= errors.name ? errors.name.msg : '' %> </div>
    <% } %> 
    <input type="text"name="marca" placeholder="marca"> 
    
    <input type="text"name="descripcion" placeholder="descripcion"> 
    <input type="text"name="stock" placeholder="stock">
    <input type="text"name="precio" placeholder="precio">
     
    <div class="input-contenedor"></div>
       

            <div class="img">
              <label class="" for="avatar">Avatar</label>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="avatar" name="avatar">
                <label class="custom-file-label" for="avatar">Selecciona una imagen</label>

              </div>
            </div>
            
 
    <input type="submit" value="Enviar" class="button">
    <script src="/js/cargaProducto.js"></script>
</form>
</main>

<footer> <%- include('partials/footer.ejs') %> </footer> 

</body>
</html>
