<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head.ejs') %>
</head>
    <body>
        
        <%- include('partials/header.ejs') %>
                
        <main >
           
           <div class="list"> <h1 c><%=productos.name%></h1>
           <ul class="listado">
            
              
           <li>

                AVATAR:<%=productos.avatar%>
                <img class="img2" src="<%= productos.avatar %>" alt="">

            </li>
           
            
            <li>
                    NOMBRE:<%=productos.name%>
            </li>
            
            <li>
                MARCA:<%=productos.marca%>
            </li>

            <li>
                PRECIO:<%=productos.precio%>
            </li>

            <li>
                STOCK:<%=productos.stock%>
            </li>

            <li>
                DESCRIPCION:<%=productos.descripcion%>
            </li>
            
            <li>
                categorys_id:<%=productos.categorys_id%>
            </li>
            <li>
                marcas_id:<%=productos.marcas_id%>
            </li>


          
        <li> <a  href="/products/edit/<%=productos.id%>">
              <button>EDITAR</button> 
          </a></li>
          <li><form action="delete/<%=productos.id%>" method="post"enctype="multipart/form-data">
              <button type="submit"> BORRAR </button>
            </ul></li>
        </form>
    </div>
            
            </main>
            <a  href="/products/list" class="listado">
                <button>LISTADO DE PRODUCTO</button> 
            </a>
            <footer><%- include('partials/footer.ejs') %> </footer> 