<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head.ejs') %>
</head>
    <body>
        
        <%- include('partials/header.ejs') %>
                
        <main class="list">
            <div><h1>Listado de producto nuevo </h1>
            <ul > <% for (let i=0; i < productos.length; i++) { %>
              <div class="listado"> 
                 <li>
                   <a href="<%=productos[i].id%>"><%=productos[i].name%></a>  </li>
                    
                    </div>

            <% } %>

              
                  
            </ul>
        </div>
            </main>

            <footer><%- include('partials/footer.ejs') %> </footer> 