<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('partials/head.ejs') %>
   
</head>
<body>
  <%- include('partials/header.ejs') %>
        <main>
         <!-- <div class="errores"> <%if( typeof errors !='undefined') {%>
            <p  style="color:red"> Error debe completar los campos </p>
            <ul>
              <% for (let i= 0;i<errors.length; i ++) {%>
                <li>
                  <%= errors[i].msg%>
                </li>

              <%}%>
            </ul>

          <%}%>
        </div> -->
          <form method="POST" action="/user/login"  id="formulario" class="formulario">


        <h1>Login</h1>
        <div class="contenedor">
            <div class="input-contenedor"></div>
            <i class="fas fa-envelope icon"></i>
            <input type="email" name="email" id="email" placeholder="email">

            <% if (typeof errors != 'undefined') { %>
              <div class="invalid-feedback" id="invalidEmail"><%= errors.email ? errors.email.msg : ''%></div>
            <% } %> 
          
            <div class="input-contenedor"></div>
            <i class="fas fa-key icon"></i>
            <input type="password" name="password" placeholder="password" >
            
            <% if (typeof errors != 'undefined') { %>
              <div class="invalid-feedback" id="invalidPassword"><%= errors.password ? errors.password.msg : ''%></div>
            <% } %> 
            <br>
            <input type="submit" value="Login" class="button">
           
            <input type="checkbox" id="recordame"  name="recordame">
            <label for="">Recordame</label>
            <p>Al registrarte, aceptas nuestras condiciones de uso y políticas de privacidad</p>
            <p>¿No tienes cuenta? <a  href="/user/perfil">
              
          </a></li>Regístrate</a></p>
            <p>¿Deseas volver al inicio? <a class= "link" href="/">Volver al Home</a></p>
        </div>
        <script src="/js/login.js"></script>
    </form>
   
</main>


<footer><%- include('partials/footer.ejs') %> </footer> 
</body>